@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Changa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Cairo:wght@200&family=Changa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Cairo:wght@200&family=Changa:wght@500&family=Markazi+Text&display=swap');
body{
    background-color: cornflowerblue;
}
*{direction:rtl; margin: 0; padding: 0;
}

.nav-bar-list{list-style-type: none;
}

a{color: white;
}

.navbar-item{display: inline-block; height: 50px; line-height: 50px; 
width: 10rem; text-align: center;font-family: 'Cairo', sans-serif; font-size: 20px; 
}

.nav-bar{background-color: rgba(46, 132, 138, 0.815);
}

.navbar-link{
    text-decoration: none;
    display: block;
}
/* هنا لما بتقف علي اللينك لونة بيتغير */
.navbar-link:hover{
    background-color:lightslategrey;

}
/* هنا عملنا مود بيظبط الناف بار لما تفتح الموقع علي الموبايل */
@media(max-width:600px)
{.navbar-item{
    display: block;
    width: 100%;
    text-align: center;
    }
}

.desc-text{
    padding: 4em;
    text-align: center;
    font-family: 'Changa', sans-serif;
}

.headen{
    color:grey;
}

.desc{
    font-size: 18px;
}

.article{
    font-family: 'Markazi Text', serif;
    text-align: right;
    margin: 0 2em 0 0;
    text-decoration:dotted;
}

.cards{
    padding: 2rem;
}

.hard{
    width: 18vw;
}

.card1{
    width:20vw;
    background-color: white;
    padding: 1em 1.6em 1em 0em;
    border-radius: 10px;
    display: inline-block;
}

.link1{
    color:black;
    text-decoration: none;
    font-family: 'Markazi Text', serif;
}